html
{
  font-family: 'Didact Gothic', sans-serif;
  border: none;
  height: 100%;
  background: #d0e1f9;
  overflow-x: hidden;
}

body{ 
  height: 100%; 
  margin: 0;
}

header { 
  grid-area: header; 
  display: inline;
  position: relative;
  text-align: center;
  border-bottom: 5px solid #4d648d;
  background: #6d84Ad;
}

#logo
{
  position: absolute;
  top: 0;
  left: 0;
}

a
{
  text-decoration: none;
  color: black;
}

header h1
{
  display: inline;
  width: 25%;
  text-align: center;
  
}

nav { grid-area: navigation; padding: 0 10px;}

.nav-item
{
  display: block;
  text-decoration: none;
  text-align: center;
}

#video, #notes { width: 48%; height: 80%; border: none;}

.nav-item, .lesson, .unitHeader
{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 13pt;
  word-wrap: break-word;
}

.lesson-container { display: none;}
.unitHeader{ text-align: left; margin: auto;}

a:hover { color: #9DAEC6; }

a.nav-item:hover, .unitHeader:hover, .lesson:hover {
  color: black;
  background: #f3f3f3;
}

article { grid-area: word; }
footer { grid-area: footer; }

#container
{
  display: grid;
  height: 100vh;
  grid-template-areas:
    'header header'
    'navigation word'
    'footer footer';
  grid-template-rows: 5em auto 2em;
  grid-template-columns: 240px auto;
  align-content: stretch;
  grid-gap: 0px;
  grid-column-gap: 10px;
}

.uil-link {
  text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: #8097C0; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4d648d; 
}

@media screen and (max-width: 479px) {
  #container
  {
    grid-template-areas:
      'header'
      'word'
      'navigation'
      'footer';
    grid-template-columns: auto;
    grid-template-rows: 75px auto;
  }
  article { height: 700px; }
  #notes, #video
  {
    display: block;
    width: 100%;
    height: 45%;
  }
  nav { border-top: 5px solid #4d648d; }
}
