/* Page Wrappers */
#page-wrapper
{
	background-color: #E94F08;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

/* Layout */
#left-container
{
	position: fixed;
	width: 12em;
	height: 100%;
	background-color: black;
	border-right: 2px solid white;
	text-align: center;
	overflow: auto;
	direction: rtl;
}

#right-container
{
	margin-left: 12em;
	padding: 1px 15px;
	height: 100px;
}

@media only screen and (max-width: 600px)
{
	#page-wrapper
	{
	}
}

/* Individual Elements */
.nav ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#logo
{
	width: 70%;
}

/* Navigation */

a.nav-button
{
	display:inline-block;
	padding: 0.5em 3em;
	border: 3px solid #FFFFFF;
	margin: 0.2em;
	border-radius: 0.4em;
	box-sizing: border-box;
	color: #FFFFFF;
	text-decoration: none;
}

a.nav-button:hover
{
	background: #202020;
}
