*
{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}

/* Page Wrappers */
#page-wrapper
{
	background-color: #1A405F;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

/* Layout */
#left-container
{
	position: fixed;
	height: 100%;
	background-color: black;
	border-right: 2px solid white;
	text-align: center;
	overflow: auto;
	direction: rtl;
}

#right-container
{
	margin-left: 8em;
	padding: 1px 15px;
	height: 100px;
}

/* Individual Elements */
.nav ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#logo
{
	width: 70%;
}

/* Navigation */

a.nav-link
{
	text-decoration: none;
}

table, tr, th
{
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-collapse: collapse;
	padding: 10px 0px;
}

th:hover
{
	background: #303030;
}

a.nav-link:hover
{
	color: #FEFEFE;
}

footer
{
	position: absolute;
	text-decoration: underline;
	left: 2.5em;
	bottom: 0;
}
